:root {

 --btn-main-color: #6441a5;
--btn-event-color: rgb(201, 100, 247);
--main-text-color: #000;
 --accent-bg-color:#fff;
  --tertiary-color:hsl(0, 0%, 41%);


}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
}

.hide {
    display:none;
}

body {
    background: var(--accent-bg-color);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.view_high_scores {
    color: var(--btn-event-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 5rem;
}

#timer {
    color: var(--main-text-color);
    margin-right: 2rem;
    font-size: 1.7rem;
    margin-right: 8rem;
    font-weight: 500;
}



/* Formatting start quiz button */

.start_btn {
    position:absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--btn-main-color);
    color: #fff;
    padding: 1rem 4rem;
    cursor: pointer;
    font-size: 2.3rem;
    border:none;
    border-radius: 0.5rem;    
    left: 50%;  
}


/* Styles applied to the Start Quiz Button */ 
/* .start_btn button {
    background-color:var(--btn-main-color);
    color: #fff;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    font-size: 1.8rem;
    border:none;
    border-radius: 1rem;  
} */

.start_btn:hover {
    background-color:var(--btn-event-color);
    
}

.info_box {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;   
}

.info_title h1, .question-title {
    font-size: 4.5rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: center; 
    
    
}

.info_rules p {
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 2.8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*quiz Question Card Styling Begins Here */

.container {
    background-color: var(--accent-bg-color);
    padding-right: 10rem;
    padding-left: 8rem;
    border-radius: 1rem;
    position: absolute;
    top: 30%;
    left: 30%;

}

.btn_column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--btn-main-color);
    color: var(--accent-bg-color);
    padding: 1rem 10rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    max-width: 10rem;
    font-size: 1.6rem;
    font-weight: 100;
    white-space: nowrap;
    align-items: center;
}

/* .option_btn {
    background-color: var(--btn-main-color);
    color: var(--accent-bg-color);
    padding: 0.5rem 7rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    max-width: 10rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
} */

.btn_column:hover {
    background-color: var(--btn-event-color);
}


.quiz_question {
    color:var(--main-text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: left;
    
    

}

.quiz_footer{
    margin-top: 2rem;
    color: var(--main-text-color);
    font-size: 3rem;
    border-top: 0.1rem solid var(--tertiary-color);
    width: 500%;
    color: var(--tertiary-color);
    
}

/*submission Screen Starts Here */

.scores_card {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);  
    text-align: center;  
    justify-content: center;
    width: 30%;
    border-bottom: 0.1rem solid var(--tertiary-color);
}

.done_prompt {
    font-size: 3.5rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem; 
    

}

.score_total p {
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.input_container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    


}

.input_container input {
    font-size: 2rem;
    width: 40%;
    
    

}
.input_container label {
    font-size: 1.9rem;
    font-weight: 500;
    margin-right: 1rem;
    
    
}

.submission_btn {
    margin-left: 46%; 
    margin-top: -2.8rem
    
}

.submission_btn button {
    background-color:var(--btn-main-color);
    color: #fff;
    padding: 0.4rem 1.6rem;
    cursor: pointer;
    font-size: 1.8rem;
    border:none;
    border-radius: 0.4rem;  
    margin-bottom: 5rem;
  }

.submission_btn button:hover {
    background-color: var(--btn-event-color);
}






/* TO DO 
Make a high score screen with logs for the scores,
add a go back button for the start of the quiz intro screen
and a clear high scores button. 
*/
