/* Common Color Scheme used for the quiz */
:root {

 --btn-main-color: #6441a5;
--btn-event-color: rgb(201, 100, 247);
--main-text-color: #000;
 --accent-bg-color:#fff;
  --tertiary-color:hsl(0, 0%, 41%);


}
/* Format for the page  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
}
/*Hide class  */
.hide {
    display:none;
}
/* color for the body of the page */
body {
    background: var(--accent-bg-color);

}
/* Header formatting  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
    
}
/* nav formatting */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* styling applied to highscores link  */
.view_high_scores {
    color: var(--btn-event-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 5rem;
}
/*timers styling */
#timer {
    color: var(--main-text-color);
    margin-right: 2rem;
    font-size: 1.7rem;
    margin-right: 8rem;
    font-weight: 500;
}




/* Styles applied to the Start Quiz Button */ 

.start_btn {
    position:absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--btn-main-color);
    color: #fff;
    padding: 1rem 4rem;
    cursor: pointer;
    font-size: 2.3rem;
    border:none;
    border-radius: 0.5rem;    
    left: 50%;  
}

/* Hover effect for the start buttn  */
.start_btn:hover {
    background-color:var(--btn-event-color);
    
}

/* title screens positioning */
.info_box {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;   
}
/*styling applied to h1 element and quiz title element  */
.info_title h1, .question-title {
    font-size: 4.5rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: center; 
    
    
}
/* styling applied to <p> element of front page  */
.info_rules p {
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 2.8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*quiz Question Card Styling Begins Here */

.container {
    background-color: var(--accent-bg-color);
    padding-right: 10rem;
    padding-left: 8rem;
    /* border-radius: 1rem; */
    position: absolute;
    top: 30%;
    left: 30%;
    
}


/* Formatting and styling option buttons   */

  .btn_column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--btn-main-color);
    color: var(--accent-bg-color);
    padding: 1rem 10rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    max-width: 10rem;
    font-size: 1.6rem;
    font-weight: 100;
    white-space: nowrap;
    align-items: center;
    
    
}




/* adding hover effect to the option buttons  */
.btn_column:hover {
    background-color: var(--btn-event-color);
    
}

/* styling applied to the quiz question element  */
.quiz_question {
    color:var(--main-text-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: left;

}

/* you are done message styling  */
.done_prompt {
    font-size: 3.5rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem; 
    
}
/* styling applied to score totals message   */
.score_total  {
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
/* Formatting for the input screen container   */
.input_container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 1rem;

}

/* style applied to the input bar  */
.input_container input {
    font-size: 2rem;
    width: 40%;
}
 
/* styling for the initials label  */
.input_container label {
    font-size: 1.9rem;
    font-weight: 500;
    margin-right: 1rem;
    
} 


/* styling applied to the submission btn */
.submission_btn {
    
    background-color:var(--btn-main-color);
    color: #fff;
    padding: 0.4rem 1.6rem;
    cursor: pointer;
    font-size: 2rem;
    border:none;
    border-radius: 0.4rem;
    margin-bottom: 5rem;  
    
}

/* hover effect on submission button  */
.submission_btn:hover {
    background-color: var(--btn-event-color);
}


/* return and clear button on leaderboard screen styling   */
.return_btn,
.clear_btn {
    
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--btn-main-color);
    color: var(--accent-bg-color);
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    max-width: 10rem;
    font-size: 1.3rem;
    font-weight: 100;
    white-space: nowrap;
    align-items: center;
    
}


/* highscore title styling   */
.high_score_title{
    font-size: 3rem;
    color: var(--main-text-color);
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem; 
    
}
/* styling for the leaderboard text   */
.leaderboard_entry{
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.1rem;

}
/* styling for the score info below options btns  */
.score_info{
    font-size: 1.5rem;

}

/*!* Media Queries Start */

/* Media query for screens smaller than 768px (typical smartphones) */
@media only screen and (max-width: 768px) {
    .info_rules p {
        font-size: 1.8rem;
    }

    .container {

        padding-left: 5rem;
    }

    .quiz_question{

        font-size: 2.5rem;
    }

}

/*  media query for Tablet Screens given range 769-1024 px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    .info_rules p{
        font-size: 2rem;
    }

    .container {
        padding-left: 4rem;
    }


}

